#app {
    .timeline {
        img {
            width: 60%;
            margin: 0 auto;
            display: block;
        }

        .figureName {
            text-align: center;
        }
    }

    .timelineFirst {
        img {
            opacity: 0;
        }
    }

    .timelineFigure {
        img {
            cursor: pointer;
        }
    }

    .addPlus {
        text-align: center;

        i {
            font-size: 24px;
            cursor: pointer;
            vertical-align: -webkit-baseline-middle;
        }
    }

    .timelineTable {
        .tableThTr {
            th {
                &:first-child {
                    p>img {
                        opacity: 0;
                    }
                }
            }

        }

        .tableTh {

            p {
                img {
                    width: 60%;
                    margin: 0 auto;
                    display: block;
                }


            }

            .figureName {
                text-align: center;
            }
        }
    }
}